//pallette
$primary: #83894D;
$primarycompliment: #32341d;
$secondarycompliment:#42484c;
$ivorytext: #FFFFFF;


//overwriting bootstrap colours. Must be before importing bootstrap

//movement accordion
$accordion-button-active-bg: $primary;
$accordion-button-active-color: white;


//importing bootstrap. Goes here so that the variables can be overwritten below
@import "~bootstrap/scss/bootstrap.scss";

//main background
body{

    background-image:url('./assets/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: white;
    height:100vh;

}

//main container
.page-container{
    position:relative;
    min-height:100vh;

    
}


//navbar
.navbar{
    background-color: $primary;
    box-shadow: 0px 5px 5px 0px #DCDCDC;

    .nav-link{
        color: $ivorytext;
    }

}

//feature images
.battalion-image{
    max-height:300px;
    margin-top: 10px;
    max-width: 100%;
    -webkit-filter: drop-shadow(0px 10px 5px #DCDCDC);
    filter: drop-shadow(0px 10px 5px #DCDCDC);
}

//image pop in fix
.imagePlaceholder {
    min-height: 280px;
}

//unit selection
.BattalionOneunitselection{

    margin-top: 10px;
    background-color:white;

    .battalionheader{
        background-color: $primary;
        padding:10px;
        color: $ivorytext;

        #battalionheaderselect{
            width:45%;
            margin-left:3px;
        }

        h4{
            display:inline;
        }

        //align the buttons to the right of the container
        .btn-group{
            float:right;
            //vertically align the buttons
            vertical-align: middle;
        }
    }

    .unitselectdropdown {
        width:100%;
        margin-left:1px;
    }

    .qualitydropdown {
        width:100%;
    }

    #unitselectcol1{
        width:60%;
    }

    #unitselectcol2{
        width:30%;
    }

    #unitselectcol3{
        width:10%;
    }

    tr{
        vertical-align: middle;
    }

    th{
        padding-bottom:0px;
    }

    td{
        padding-top:2px;
        padding-bottom:2px;
    }

    //unit selection display
    .selectedunitsdisplay{

    .unittypeheader{
        background-color: $primarycompliment;
        color:$ivorytext;
    }

    th{
        padding-top:5px;
        padding-bottom:5px;
    }
    
    }

}

//unit selection battalion 2
.BattalionTwounitselection{

    margin-top: 10px;
    background-color:white;

    .battalionheader{
        background-color: $secondary;
        padding:10px;
        color: $ivorytext;

        #battalionheaderselect{
            width:45%;
            margin-left:3px;
        }

        h4{
            display:inline;
        }

        //align the buttons to the right of the container
        .btn-group{
            float:right;
            //vertically align the buttons
            vertical-align: middle;
        }
    }

    .unitselectdropdown {
        width:100%;
        margin-left:1px;
    }

    .qualitydropdown {
        width:100%;
    }

    #unitselectcol1{
        width:60%;
    }

    #unitselectcol2{
        width:30%;
    }

    #unitselectcol3{
        width:10%;
    }

    tr{
        vertical-align: middle;
    }

    th{
        padding-bottom:0px;
    }

    td{
        padding-top:2px;
        padding-bottom:2px;
    }

    //unit selection display
    .selectedunitsdisplay{

        .unittypeheader{
            background-color: $secondarycompliment;
            color:$ivorytext;
        }
    
        th{
            padding-top:5px;
            padding-bottom:5px;
        }
        
        }

}



//shooting page
#Ashootingunitselector{
    width:100%;
}

.Asmallarmsshootingtable{
    thead{
        background-color: tint-color($primary, 20%);
        color:$ivorytext;
        text-align:center;
    }

    .Asmallarmsheader{
        background-color: $primary;
        color: $ivorytext;
    }

    td {
        text-align:center;
    }

    .Ashootingmodifier{
        background-color: tint-color($primary, 90%);
    }

    #Ashootingheader{
        margin-top: 10px;
        padding:10px;
        background-color: $primary;
        color: $ivorytext;
    }

    #Afireselector{
        width:100%;

        #infantrybutton{
            background-color: $primary;
            color: $ivorytext;
            border:none;
            padding:10px;
            font-size:20px;
            width:50%;
            font-weight:bold;
        }

        #antitankbutton{
            background-color: $primarycompliment;
            color: $ivorytext;
            border:none;
            padding:10px;
            font-size:20px;
            width:50%;
            font-weight:bold;
        }


    }

}

//antitank table
#Aataccordion{
    margin-top:-2px;


    .accordion-button{
        background-color:$primarycompliment;
        color:$ivorytext;
        font-weight:bold;
    }

    thead{
        background-color:tint-color($primarycompliment, 20%);
    }
}

//second battalion display
#Bshootingunitselector{
    width:100%;
}

.Bsmallarmsshootingtable{
    thead{
        background-color: tint-color($secondary, 20%);
        color:$ivorytext;
        text-align:center;
    }

    .Bsmallarmsheader{
        background-color: $secondary;
        color: $ivorytext;
    }

    td {
        text-align:center;
    }

    .Bshootingmodifier{
        background-color: tint-color($secondary, 90%);
    }

    #Bshootingheader{
        margin-top: 10px;
        padding:10px;
        background-color: $secondary;
        color: $ivorytext;
    }

    #Bfireselector{
        width:100%;

        #infantrybutton{
            background-color: $secondary;
            color: $ivorytext;
            border:none;
            padding:10px;
            font-size:20px;
            width:50%;
            font-weight:bold;
        }

        #antitankbutton{
            background-color: $secondarycompliment;
            color: $ivorytext;
            border:none;
            padding:10px;
            font-size:20px;
            width:50%;
            font-weight:bold;
        }


    }

}

//second battalion antitank table
#Bataccordion{
    margin-top:-2px;


    .accordion-button{
        background-color:$secondarycompliment;
        color:$ivorytext;
        font-weight:bold;
    }

    thead{
        background-color:tint-color($secondarycompliment, 20%);
    }
}





//movement page
.Amovementheader{
    margin-top: 10px;
    padding:10px;
    background-color: $primary;
    color: $ivorytext;
}

.Bmovementheader{
    margin-top: 10px;
    padding:10px;
    background-color: $secondary;
    color: $ivorytext;
}


//movement accordion A
#Amovementaccordion{

    .accordion-button{
        background-color:$primary;
        color:$ivorytext;
        font-weight:bold;
    }

    thead{
        background-color:tint-color($primary, 20%);
    }
}

//movement accordion B
#Bmovementaccordion{

    .accordion-button{
        background-color:$secondary;
        color:$ivorytext;
        font-weight:bold;
    }

    .accordion-button:focus{
        box-shadow: 0 0 3px 3px shade-color($secondary,10%);
    }

    thead{
        background-color:tint-color($secondary, 20%);
    }
}

.notselectedcontainer{
    
    height:90vh;
    background-color: hsl(0, 0%, 40%, 0.4 );
    margin-top:10px;
    border-radius:10px;

    img{
        -webkit-filter: drop-shadow(0px 10px 5px gray);
        filter: drop-shadow(0px 10px 5px gray);
    }
    
    h1{
        color:grey;
        text-align:center;
        height:100%;
        margin-top:10vh;
    }

}

.content-container{
    padding-bottom:100px;
}

//footer
.pagefooter{
    box-shadow: 0px -5px 5px 0px #DCDCDC;
    margin-top:10vh;
    position:absolute;
    bottom:0;
    width:100%;
}




