//pallette
$primary: #83894D;
$primarycompliment: #32341d;
$secondarycompliment:#42484c;
$ivorytext: #FFFFFF;


//overwriting bootstrap colours. Must be before importing bootstrap

//movement accordion
$accordion-button-active-bg: $primary;
$accordion-button-active-color: white;


//importing bootstrap. Goes here so that the variables can be overwritten below
@import "~bootstrap/scss/bootstrap.scss";

//navbar
.navbar{
    background-color: $primary;
}

//unit selection
.unitselection{

    margin-top: 10px;

    .battalionheader{
        background-color: $primary;
        padding:10px;
        color: $ivorytext;

        #battalionheaderselect{
            width:45%;
            margin-left:3px;
        }

        h4{
            display:inline;
        }

        //align the buttons to the right of the container
        .btn-group{
            float:right;
            //vertically align the buttons
            vertical-align: middle;
        }
    }

    .unitselectdropdown {
        width:100%;
        margin-left:1px;
    }

    .qualitydropdown {
        width:100%;
    }

    #unitselectcol1{
        width:60%;
    }

    #unitselectcol2{
        width:30%;
    }

    #unitselectcol3{
        width:10%;
    }

    tr{
        vertical-align: middle;
    }

    th{
        padding-bottom:0px;
    }

    td{
        padding-top:2px;
        padding-bottom:2px;
    }

}

//unit selection display
.selectedunitsdisplay{

    .unittypeheader{
        background-color: #606437;
        color:white;
    }

    th{
        padding-top:5px;
        padding-bottom:5px;
    }
    
}

//shooting page
#Ashootingunitselector{
    width:100%;
}

.Asmallarmsshootingtable{
    thead{
        background-color: $primary;
        color:$ivorytext;
    }

    .Ashootingmodifier{
        background-color: tint-color($primary, 90%);
    }

    #Ashootingheader{
        margin-top: 10px;
        padding:10px;
        background-color: $primary;
        color: $ivorytext;
    }

    #Afireselector{
        width:100%;

        #infantrybutton{
            background-color: $primary;
            color: $ivorytext;
            border:none;
            padding:10px;
            font-size:20px;
            width:50%;
            font-weight:bold;
        }

        #antitankbutton{
            background-color: $primarycompliment;
            color: $ivorytext;
            border:none;
            padding:10px;
            font-size:20px;
            width:50%;
            font-weight:bold;
        }


    }

}

//antitank table
#Aataccordion{
    margin-top:-2px;


    .accordion-button{
        background-color:$primarycompliment;
        color:$ivorytext;
        font-weight:bold;
    }

    thead{
        background-color:tint-color($primarycompliment, 20%);
    }
}

//second battalion display
#Bshootingunitselector{
    width:100%;
}

.Bsmallarmsshootingtable{
    thead{
        background-color: $secondary;
        color:$ivorytext;
    }

    .Bshootingmodifier{
        background-color: tint-color($secondary, 90%);
    }

    #Bshootingheader{
        margin-top: 10px;
        padding:10px;
        background-color: $secondary;
        color: $ivorytext;
    }

    #Bfireselector{
        width:100%;

        #infantrybutton{
            background-color: $secondary;
            color: $ivorytext;
            border:none;
            padding:10px;
            font-size:20px;
            width:50%;
            font-weight:bold;
        }

        #antitankbutton{
            background-color: $secondarycompliment;
            color: $ivorytext;
            border:none;
            padding:10px;
            font-size:20px;
            width:50%;
            font-weight:bold;
        }


    }

}

//second battalion antitank table
#Bataccordion{
    margin-top:-2px;


    .accordion-button{
        background-color:$secondarycompliment;
        color:$ivorytext;
        font-weight:bold;
    }

    thead{
        background-color:tint-color($secondarycompliment, 20%);
    }
}





//movement page
.Amovementheader{
    margin-top: 10px;
    padding:10px;
    background-color: $primary;
    color: $ivorytext;
}

.Bmovementheader{
    margin-top: 10px;
    padding:10px;
    background-color: $secondary;
    color: $ivorytext;
    margin-bottom:-3px;
}


//movement accordion A
#Amovementaccordion{

    .accordion-button{
        background-color:$primary;
        color:$ivorytext;
        font-weight:bold;
    }

    thead{
        background-color:tint-color($primary, 20%);
    }
}

//movement accordion B
#Bmovementaccordion{

    .accordion-button{
        background-color:$secondary;
        color:$ivorytext;
        font-weight:bold;
    }

    .accordion-button:focus{
        box-shadow: 0 0 3px 3px shade-color($secondary,10%);
    }

    thead{
        background-color:tint-color($secondary, 20%);
    }
}





